<div class="row">
    <div class="col">
        <div class="card" id="waiting">
            <h4 class="card-header">Burgers to be eaten</h4>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item d-flex justify-content-between">{{burger_name}} <button
                        class="eat-it btn btn-outline-secondary" data-id="{{id}}" data-devoured="true">Eat It!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <form id="add-burger">
            <div class="input-group mt-1">
                <input type="text" class="form-control" name="burger-name" required="true">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <div class="card" id="eaten">
            <h4 class="card-header">Burgers devoured</h4>
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>